---

// H1.astro component is a simple, reusable heading component designed to display a styled <h1> tag across your Astro project.

type Props = {
  text: string;
};
const { text } = Astro.props;
---

<h1 class="text-6xl text-teal-900 font-bold mb-5">{text}</h1>
