---
import Header from "../components/Header.astro";
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";

interface Props {         // Props Interface
	title: string;
	description?: string; // description, image: Optional, with default values
	image?: string;
}

//Destructuring Astro.props
const { title, description= "A community of music producers and enthusiasts", image ="/images/band.jpg"}= Astro.props;

// <slot />	Renders whatever is inside the layout (e.g., blog posts)
// This allows other components or content to be injected into this layout 
---



<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body class="min-h-screen">
		
		<Header /> 
		<slot />   
	</body>
</html>
